* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: quite;
    src: url(/font/QuiteMagicalRegular-8VA2.ttf);
}

@font-face {
    font-family: HammersmithOne-Regular;
    src: url(/font/HammersmithOne-Regular.ttf);
}

@font-face {
    font-family: oswald;
    src: url(/font/Oswald-font/Oswald-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: oswald;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container {
    width: 80%;
    height:auto;
    background-color: white;
}

.container>.head {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container>.head>.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family: HammersmithOne-Regular;
}

.head>nav {
    width: 100%;
    border-top: 1px solid grey;
}

.head>nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.head>nav>ul>li {
    list-style-type: none;
    padding: 20px;
}

.head>nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.head>nav>ul>li>a:hover {
    border-bottom: 1px dashed black;
}

.container>.content {
    width: 100%;
}

.container>.content>img {
    width: 100%;
    border-radius: 10px;
}

.container>.content>#koleksi-buku>h2 {
    text-align: center;
    margin-top: 50px;
    font-family: HammersmithOne-Regular;
    font-size: 35px;
    padding: 30px;
}

.container>.content>#koleksi-buku>ol>li {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container>.content>#koleksi-buku>ol>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.content>#koleksi-buku>ol>li>q {
    width: 50%;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    font-family: quite;
    color: gray;
}

.container>.content>#koleksi-buku>ol>li>a>img {
    display: flex;
    width: 70%;
    border-radius: 10px;
    margin: 50px;
    transition: 0.3s;
}

.container>.content>#koleksi-buku>ol>li>a>img:hover {
    width: 75%;
    box-shadow: 0 20px 15px -10px rgba(0,0,0,0.75);
}

.container>.content>#koleksi-buku>p {
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

footer>.footer1 {
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding: 40px;
}

footer>.footer1>.img1 {
    width: 80px;
    margin-right: 20px;
}

footer>.footer1>.img2 {
    width: 160px;
}

footer>.footer2 {
    margin-right: 50px;
}

footer>.footer2>p>a {
    text-decoration: none;
    color: black;
}

footer>.footer2>p>a:hover {
    opacity: 0.8;
}

footer>.footer3 {
    display: grid;
    gap: 10px;
}

footer>.footer3>.telephone {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

footer>.footer3>.telephone>.img-telephone {
    width: 20px;
}

footer>.footer3>.email {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}

footer>.footer3>.email>img {
    width: 20px;
}

.container>.hak-cipta {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid grey; 
}