* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HammersmithOne-Regular;
    src: url(/font/HammersmithOne-Regular.ttf);
}

@font-face {
    font-family: oswald;
    src: url(/font/Oswald-font/Oswald-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: oswald;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container {
    width: 80%;
    height:auto;
    background-color: white;
}

.container>.head {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container>.head>.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family: HammersmithOne-Regular;
}

.head>nav {
    width: 100%;
    border-top: 1px solid grey;
}

.head>nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.head>nav>ul>li {
    list-style-type: none;
    padding: 20px;
}

.head>nav>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.head>nav>ul>li>a:hover {
    border-bottom: 1px dashed black;
}

.container>.content>img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.container>.content>#beranda>.beranda1 {
    text-align: center;
    margin: 40px;
    font-size: 20px;
}

.container>.content>#beranda>.beranda1>h2 {
    font-size: 40px;
    padding: 20px;
    font-family: HammersmithOne-Regular;
}

.container>.content>#beranda>.beranda2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.container>.content>#beranda>.beranda2>h2>strong {
    font-size: 35px;
    font-family: HammersmithOne-Regular;
}

.container>.content>#beranda>.beranda2>ul>li {
    display: block;
    list-style-position: inside;
    margin: 40px;
}

.container>.content>#beranda>.beranda2>ul>li>span {
    font-size: 25px;
}

.container>.content>#beranda>.beranda3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.container>.content>#beranda>.beranda3>h2 {
    font-size: 35px;
    padding: 20px;
    margin-bottom: 30px;
    font-family: HammersmithOne-Regular;
    text-align: center;
}

.container>.content>#beranda>.beranda3>.beranda31 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container>.content>#beranda>.beranda3>.beranda31>.layanan1>h3, .container>.content>#beranda>.beranda3>.beranda31>.layanan2>h3{
    font-family: HammersmithOne-Regular;
}

.container>.content>#beranda>.beranda3>.beranda31>.layanan1>ul>li {
    list-style-type: none;
    padding: 10px;
}

.container>.content>#beranda>.beranda3>.beranda31>img {
    width: 300px;
}

.container>.content>#beranda>.beranda3>.beranda31>.layanan2>ul>li {
    list-style-type: none;
    padding: 10px;
}

.container>.content>#beranda>.beranda3>.beranda31>.layanan2>ul>li>em>span {
    color: red;
}

#koleksi-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#koleksi-foto>h2 {
    font-family: HammersmithOne-Regular;
    margin: 20px;
    font-size: 35px;
}

#koleksi-foto>img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

footer>.footer1 {
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    padding: 2%;
}

footer>.footer1>.img1 {
    width: 5em;
    margin-right: 1em;
}

footer>.footer1>.img2 {
    width: 10em;
}

footer>.footer2 {
    margin-right: 1.5em;
}

footer>.footer2>p>a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

footer>.footer2>p>a:hover {
    opacity: 0.8;
}

footer>.footer3 {
    display: grid;
    gap: 1em;
}

footer>.footer3>.telephone {
    display: grid;
    grid-template-columns: 2em auto;
    align-items: center;
}

footer>.footer3>.telephone>.img-telephone {
    width: 1.3em;
}

footer>.footer3>.email {
    display: grid;
    grid-template-columns: 2em auto;
    align-items: center;
}

footer>.footer3>.email>img {
    width: 1.3em;
}

.container>.hak-cipta {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid grey; 
    font-size: 0.8em;
}